doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/javascripts/ajax.js')
    script(type='text/javascript', src='/javascripts/calendar-cli.js')
    script(type='text/javascript', src='/javascripts/m1.js')
  body
    div(id='banner')
    .autor Autor: Sanjurjo Gabriel A.
    block content
