div(class='botonmenu', onclick='location.href="/calendar"') Resumen
div(class='botonmenu', onclick='location.href="/calendar/agendas"') Agendas
div(class='botonmenu', onclick='location.href="/calendar/edicion"') Edicion
div(class='botonmenu', onclick='location.href="/calendar/generar"') Generar Calendario
div(class='botonmenu', onclick='location.href="/signout"') Cerrar Seción
